cffi==1.14.5
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gevent==21.1.2
gunicorn==19.9.0
greenlet==1.1.0
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy
opencv-python==4.4.0.42
Pillow==8.2.0
pycparser==2.20
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
